<div class="container center-align">
	<div class="row">
		<div class="col s12">
			<p>
			  <strong><%= @pimp.name %></strong>
			</p>

			<p>
			  <%= image_tag(attachment_url(@pimp, :image, :fill, 500, 500), class: 'responsive-img') %>
			</p>

			<%= link_to 'Edit', edit_pimp_path(@pimp) %> |
			<%= link_to 'Back', pimps_path %>		
		</div>
	</div>
</div>