<footer class="page-footer teal lighten-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Pimptalife project</h5>
        <p class="grey-text text-lighten-4">That was my first project realized with Ruby on Rails. I recently improved my front-end skills with the great <%= link_to 'Materialize', 'http://materializecss.com/' %></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="small fa fa-github"></i> Github</a></li>
          <li><a class="grey-text text-lighten-3" href="https://onemonth.com"><i class="small fa fa-medium"></i> One Month Rails</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2015 All rights reserved
    <a class="grey-text text-lighten-4 right" href="http://www.maximeorefice.me/">Maxime Orefice</a>
    </div>
  </div>
</footer>